.app {
    width: 900px;
    height: 700px;
    background-color: floralwhite;
}

.top-container {
    padding-top: 10px;
    margin-bottom: 60px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.top-container__left {
    padding: 5px;
    border: 1px solid black;
}

.start-button {
    cursor: pointer;
}

.timer {
    transform: translateX(50%);
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text {
    font-size: 30px;
}